<span>
<a mat-icon-button matTooltip="addReservation" [routerLink]="'/reservation-add'">
  <mat-icon>directions_bus</mat-icon>
</a>
</span>

<h2>Liste des réservations</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date de réservation</th>
      <th>Client</th>
      <th>Bus</th>
      <th>Nombre de places</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations | async">
      <td>{{ reservation.id }}</td>
      <td>{{ reservation.reservationDate }}</td>
      <td>{{ reservation.client.name }}</td>
      <td>{{ reservation.bus.route }}</td>
      <span>
        <a mat-icon-button matTooltip="modifier" [routerLink]="['/reservation-add',reservation.id]">
          <mat-icon>edit</mat-icon>
        </a>
      </span>
      <span>
        <a mat-icon-button matTooltip="supprimer" (click)="delete(reservation.id!)">
          <mat-icon>delete</mat-icon>
        </a>
      </span>
    </tr>
  </tbody>
</table>
